@model IEnumerable<StudentClass.Domain.Models.RelateClassModel>

@{
    ViewData["Title"] = "Relação de Alunos e Turmas";
}

<form>
    <div class="row">
        <div class="col-md-6">
            <h4>Lista</h4>
        </div>
        <div class="col-md-6 text-end">
            <button asp-action="Create" title="Criar nova Turma" class="btn btn-primary btn-sn">
                <i class="fas fa-plus"></i>
            </button>
        </div>
    </div>
    <hr />
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Student.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Class.Turma)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Student.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Class.Turma)
                    </td>
                    <td>
                        <div class="btn-group">
                            <button asp-action="Delete" asp-route-id="@item.IdStudent" asp-route-id="@item.IdClass" title="Deletar Turma" class="btn btn-danger btn-sn">
                                <i class="fa-solid fa-delete-left"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>
