@model IEnumerable<StudentClass.Domain.Models.StudentModel>

@{
    ViewData["Title"] = "Lista de Alunos";
}

<form>
    <div class="row">
        <div class="col-md-6">
            <h4>Lista - Alunos</h4>
        </div>
        <div class="col-md-6 text-end">
            <button asp-action="Create" title="Incluir Aluno" class="btn btn-primary btn-sn">
                <i class="fas fa-plus"></i>
            </button>
        </div>
    </div>
    <hr />
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Usuario)
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Usuario)
                    </td>
                    <td>
                        <div class="btn-group">
                            <button asp-action="Edit" asp-route-id="@item.Id" title="Editar registro" class="btn btn-primary btn-sn">
                                <i class="fas fa-edit"></i>
                            </button>
                        </div>
                    </td>
                    <td>
                        <div class="btn-group">
                            <button asp-action="Delete" asp-route-id="@item.Id" title="Deletar aluno" class="btn btn-danger btn-sn">
                                <i class="fa-solid fa-delete-left"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>