@model IEnumerable<StudentClass.Domain.Models.ClassModel>

@{
    ViewData["Title"] = "Lista de Turmas";
}

<form>
    <div class="row">
        <div class="col-md-6">
            <h4>Lista - Turmas</h4>
        </div>
        <div class="col-md-6 text-end">
            <button asp-action="Create" title="Criar nova Turma" class="btn btn-primary btn-sn">
                <i class="fas fa-plus"></i>
            </button>
        </div>
    </div>
    <hr />
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Turma)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Ano)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Turma)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ano)
                    </td>
                    <td>
                        <div class="btn-group">
                            <button asp-action="Edit" asp-route-id="@item.Id" title="Editar Turma" class="btn btn-primary btn-sn">
                                <i class="fas fa-edit"></i>
                            </button>
                        </div>
                    </td>
                    <td>
                        <div class="btn-group">
                            <button asp-action="Delete" asp-route-id="@item.Id" title="Deletar Turma" class="btn btn-danger btn-sn">
                                <i class="fa-solid fa-delete-left"></i>
                            </button>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>